/* =========== SPACE CLASSES=========== */
html {
  font-size: 16px;
}
body {
  overflow-x: hidden;
}
.space5 {
  margin-top: 5px;
}
.space10 {
  margin-top: 10px;
}
.space15 {
  margin-top: 15px;
}
.space20 {
  margin-top: 20px;
}
.space25 {
  margin-top: 25px;
}
.space30 {
  margin-top: 30px;
}
.space40 {
  margin-top: 40px;
}
.space50 {
  margin-top: 50px;
}
.space60 {
  margin-top: 60px;
}
.space70 {
  margin-top: 70px;
}
.space80 {
  margin-top: 80px;
}
.space100 {
  margin-top: 100px;
}
.pad0 {
  padding: 0;
}

/*=========================css============================*/

.container-fluid {
  max-width: 1350px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.heading_sec {
  padding-top: 40px;
  margin-bottom: 90px;
}
.subscript_sec {
  padding: 0px 0 5px;
  background: #f5f8fd;
}
.sub_txt {
  font-size: 16px;
  color: #b30000;
  font-weight: 300;
  margin-bottom: 0;
}
.sub_head {
  font-size: 30px;
  color: #000000;
}
.greeting__msg {
  height: 22px;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #b30000;
}
.list_sub {
  display: flex;
  width: 100%;
  margin-top: -42px;
}
.list_sub li {
  padding: 0;
  width: 22.3%;
  vertical-align: top;
}
.list_sub > .list-inline-item:not(:last-child) {
  margin-right: 43px;
}
.subscrip_box {
  background: #fff;
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1), 0 1px 14px 0 rgba(0, 0, 0, 0.17);
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  padding: 52px 28px 0;
  height: 155px;
}
.subscrip_box img {
  position: absolute;
  left: 25px;
  top: 11px;
}
.subscrip_box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 11px;
  background-color: #1d5a99;
}
.subscrip_box h3 {
  font-size: 45px;
  text-align: center;
  font-weight: 600;
  line-height: 35px;
  margin-top: 0;
}
.subscrip_box p {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 26px;
  color: #4a4a4a;
}
.subscrip_box h3 span {
  font-size: 44px;
  font-weight: 300;
  font-style: italic;
}
.list_sub li:last-child .subscrip_box {
  margin-right: 0;
}
.list_sub li:nth-child(3) .subscrip_box:after {
  background-color: #57a60f;
}
.subscrip_box sup {
  top: -0.5em;
  font-weight: 300;
  font-size: 30px;
}
.list_sub li a {
  color: #1e5a99;
  font-size: 16px;
  text-align: center;
  margin: 12px auto;
  display: block;
}
.list_sub li a .fa {
  margin-left: 20px;
}
.notif_head {
  font-size: 25px;
  color: #000;
  font-weight: 300;
}
.view_txt {
  font-size: 18px;
  margin-left: 33px;
  color: #1e5a99;
  cursor: pointer;
}
.view_txt .fa {
  margin-left: 10px;
}
.padright0 {
  padding-right: 0 !important;
}
.padleft0 {
  padding-left: 0 !important;
}
.left_box {
  background-color: #57a60f;
}
.media_img {
  width: 70px;
  background: #57a60f;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 28px;
  padding: 0 13px;
}
.notif_box .media {
  box-shadow: 0 4px 0px 0 #eee, 0 1px 6px 0 #eee;
  display: table;
  width: 100%;
  height: 90px;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 3px;
  background: #fff;
}
.notif_box ul {
  margin-bottom: 0;
}

.notif_box {
  margin-top: 33px;
}
.notif_box ul li {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
}
.notif_box ul li span {
  font-size: 31px;
  line-height: 23px;
  font-weight: 600;
  margin-left: -3px;
}
.notif_box ul .list-inline-item:not(:last-child) {
  margin-right: 46px;
}
.notif_box ul li:last-child {
  float: right;
  margin-top: 15px;
}
.view_txt1 {
  font-size: 18px;
  margin-left: 33px;
  text-transform: capitalize;
  color: #1e5a99;
  margin: 22px auto;
  display: block;
  text-align: center;
}
.view_txt1 .fa {
  margin-right: 10px;
}
.detail_sec {
  padding: 60px 0;
}
.main_txt {
  font-size: 13px;
  color: #273039;
  text-transform: capitalize;
  font-weight: 600;
}
.data-table .view_txt {
  font-size: 13px;
  margin-left: 0;
  color: #1e5a99 !important;
  display: block;
  margin-top: 20px;
  line-height: 22px;
  font-weight: 600;
  cursor: pointer;
}
.data-table label {
  font-size: 11px;
  color: #797777;
  margin-bottom: 19px;
  font-weight: 500;
}

.data-table span.label {
  font-size: 13px;
  color: #797777;
  text-transform: uppercase;
  margin-bottom: 19px;
  font-weight: 500;
}
.data-table ul li {
  font-size: 13px;
  color: #1f1e1e;
  vertical-align: middle;
  border: none;
  padding: 29px 0;
}

.table1 {
  margin: 13px 0;
  position: relative;
}
.data-table ul li:last-child {
  /* background-color: #f5f8fc; */
  text-align: center;
  /* padding: 17px; */
  color: #1e5a99;
  font-size: 23px;
}
.table1 > tbody > tr {
  border: 1px solid #eae1e1;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.17);
  position: relative;
}
.down_img,
.up_img1 {
  margin-left: 10px;
}
.expand_box {
  margin-top: -28px;
  position: relative;
  left: 0px;
  right: 0;
  background: #fff;
  width: 100%;
  top: 94%;
  padding: 40px 0;
  display: none;
  transition: 0.6s;
  border-bottom: 1px solid #d2d1d1;
  z-index: 99;
  box-shadow: -5px 0 5px -5px #d2d1d1, 5px 0 5px -5px #d2d1d1;
}
.expand_box.show {
  display: block;
  box-shadow: -5px 0 5px -5px #d2d1d1, 5px 0 5px -5px #d2d1d1;
}
.close_box {
  display: none !important;
}
.close_box.show {
  display: block !important;
}
.view_detail {
  display: inline-block;
}
.head_txt {
  font-size: 16px;
  color: #000;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 600;
}
.table2 td.billing__err {
  font-size: 14px;
  color: #4e555d;
  text-align: center;
}
.list_price {
  background: #f5f8fd;
  padding: 30px 0;
  width: 100%;
  display: table;
}
.list_price li {
  display: table-cell;
  position: relative;
}
.list_price li:after {
  content: "";
  position: absolute;
  height: 70%;
  width: 1px;
  background-color: #dad6d6;
  right: 0;
  top: 0%;
}
.list_price li:last-child:after {
  display: none;
}
.total_box h3 {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 500;
  margin-bottom: 23px;
  margin-top: 0;
}
div.total_box p {
  font-size: 13px;
  color: #273039;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}

.total_box {
  padding: 2px;
  text-align: center;
}
.btn_dnload {
  background: #1e5a99;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 235px;
  height: 45px;
}
.btn_dnload:hover {
  color: #fff;
}
.btn_dnload img {
  margin-right: 7px;
}
.dn_txt {
  margin: 20px 0;
  font-size: 13px;
  line-height: 1.62;
  color: #273039;
}
.pay_txt {
  color: #000;
  font-weight: 600;
  font-size: 13px;
}
.pay_txt label {
  color: #aba5a5;
}

.pay_txt span.label {
  color: #aba5a5;
}
.table2 td {
  border: none;
}
.table2 thead th {
  border: none !important;
  background: #f2f3f5;
  font-weight: 600;
  padding: 15px 27px !important;
  font-size: 11px;
  font-weight: 600;
  color: #4e555d;
}
.table2 td {
  border: none !important;
  color: #5e5c5c;
  font-weight: 500;
  padding: 15px 27px !important;
  font-size: 16px;
  border: 0;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fbfbfd;
}

.visa_img {
  margin-right: 10px;
}
.edit_txt {
  color: #1e5a99;
  display: block;
  margin-top: 24px;
}
.test_txt {
  color: #5e5c5c;
  font-weight: 500;
}
.table1 > tbody > tr > td:nth-child(1) {
  width: 13%;
}
.table1 > tbody > tr > td:nth-child(5) {
  width: 16%;
}
.table1 > tbody > tr > td:nth-child(2) {
  width: 34%;
}
.table1 > tbody > tr > td:nth-child(3) {
  width: 19%;
}
.table1 > tbody > tr > td:last-child {
  width: 6%;
}
.table_service > tbody > tr > td {
  vertical-align: middle;
  border: none;
  font-size: 30px;
  color: #000;
  font-weight: 700;
  padding: 0;
}
.table_service > tbody > tr {
  border: 1px solid #eae1e1;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.17);
  position: relative;
  background: #f9f9f9;
}
.btn_plan {
  background: #3379c1;
  font-size: 16px;
  color: #fff;
  padding: 10px 30px;
}
.table_service > tbody > tr > td:first-child {
  width: 15%;
}
.table_service > tbody > tr > td:last-child {
  float: right;
  width: 364px;
  margin-right: 1px;
}
.down_img1 {
  display: none;
}
.opt_div p {
  font-size: 13px;
  color: #a7a3a3;
  font-weight: 600;
  text-align: right;
  margin: 0;
  text-transform: uppercase;
  margin-right: 9px;
  line-height: 18px;
}

.shadow .table > tbody > tr {
  box-shadow: none !important;
  border: none;
}
.inactive.table tr {
  box-shadow: none;
  border: 0;
}
.open_table_detail .table.active tr {
  border: 1px solid #eae1e1;
}

.app__loader-img {
  height: 5%;
}

div.app__loader {
  display: flex;
  align-items: center;
}

.fix {
  display: none;
}
.d-md-none {
  display: none;
}
.d-md-block {
  display: block;
}
.d-mob1 {
  display: none;
}
#table_pay td {
  position: relative;
  padding-bottom: 15px !important;
  font-size: 13px;
  color: #4e555d;
}
/* .edit_txt {
  position: absolute;
  bottom: 10px;
} */
.notif_box .media1 .media_img {
  background: #aac5e0;
}
.notif_box .media2 .media_img {
  background: #fab800;
}

/*=================================================*/
.list-inline-item {
  display: inline-block;
}
.data-table ul {
  display: table;
  width: 100%;
  margin-bottom: 0;
}
.data-table ul li {
  display: table-cell;
  vertical-align: middle;
}
.data-table ul li:nth-child(4) {
  width: 15%;
}
.data-table ul li .view_txt {
  margin-left: 0px;
}
.data-table {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}
.data-table .list-inline {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  height: 155px;
}
.data-table ul li:first-child {
  width: 15%;
}
.data-table ul li:nth-child(2) {
  width: 30%;
}
.data-table ul li:nth-child(3) {
  width: 15%;
}
.data-table ul li:nth-child(5) {
  width: 16%;
}
.data-table1 ul li:nth-child(4) {
  width: auto;
}

.data-table ul li:last-child {
  width: 10%;
  position: relative;
}
.open_drop.hover {
  color: #fff;
}
.data-table1 ul li:last-child {
  padding: 0;
  float: right;
  width: auto;
}
.data-table1 ul li {
  vertical-align: middle;
  border: none;
  font-size: 24px;
  color: #000;
  font-weight: 700;
  padding: 0;
}
.data-table-diff ul li:nth-child(4) {
  width: 32%;
}
.notif_box .media1,
.notif_box .media2 {
  display: none;
}
.notif_box .media1.show,
.notif_box .media2.show {
  display: table !important;
}
.hide_notif {
  display: none;
}
.hide_notif.show {
  display: block;
}

.more_notif.hide {
  display: none;
}

.custom-select {
  position: relative;
  width: 63%;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected.select-arrow-active {
  margin-left: -27px;
}
.select-selected {
  background-color: transparent;
  font-size: 11px;
}

.select-items div,
.select-selected {
  color: #273039;
  position: relative;
  z-index: 9;
}
.select-selected {
  padding: 13px 0px;
}
.select-items {
  position: absolute;
  top: 100%;
  left: -27px;
  right: 0;
  z-index: 99999;
  background: #fff;
  border: solid 1px #cccccc;
  border-top-width: 0;
  border-top: hidden;
  border-radius: 0 0 4px 4px;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
/* .select-items div:hover, */
.same-as-selected {
  font-weight: bold;
  color: #273039;
  background-color: #f1f3f4;
  font-size: 13px;
}
.select-arrow-active {
  background: #fff;
  padding: 13px 16px 13px 26px;
}
.show_Div {
  display: none;
}
.show_Div ul {
  margin-bottom: 0;
  text-align: right;
}
.show_Div.bg {
  background: transparent !important;
  padding: 0 !important;
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}
.show_Div.show {
  display: block;
  padding: 28px 0;
  background: #f1f3f4;
  margin-top: -12px;
  margin-bottom: -24px;
  margin-left: 5px;
  margin-right: 5px;
}
.show_Div li {
  color: #495057;
  font-size: 20px;
  font-weight: 500;
}
.show_Div.hide {
  display: none !important;
}
li.btn_sv-container {
  margin-left: 15px; 
 } 
.cancellation > li.btn_sv-container {
  margin-left: 0; 
 } 
.btn_sv {
  width: 138px;
  border-radius: 4px;
  background-color: #1e5a99;
  color: #fff;
  font-size: 14px;
  padding: 10px 26px;
}
 li.btn_cncl-container {
  margin-right: 5%;
  margin-left: 15px;
} 
 .cancellation > li.btn_cncl-container {
  margin-right: 0;
  margin-left: 0;
}
.btn_cncl {
  font-size: 13px;
  font-weight: 600;
  color: #1e5a99;
}
.succ_Div {
  background: #57a60f;
  padding: 10px 25px;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* bottom: 18px; */
  bottom: 33%;
  display: none;
  z-index: 999;
}
.succ1 {
  width: 75%;
}
.succ_Div p {
  color: #fff;
  font-size: 17px;
  margin-bottom: 0;
  line-height: 32px;
}
.succ_Div .fa {
  margin-right: 10px;
  font-size: 36px;
  color: #fff;
}
.drophead {
  color: #3379C2;
  font-size: 18px;
  text-transform: capitalize;
  padding: 11px 10px;
  text-align: center;
}
.drophead p {
  margin-bottom: 0;
}
.dropbody {
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1), 0 1px 14px 0 rgba(0, 0, 0, 0.17);
  padding: 6px 0px 5px;
  text-align: center;
  color: #1e5a99;
  text-transform: capitalize;
  background: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.dropbody ul li {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 9px 0;
  font-size: 13px;
  vertical-align: top;
}
.dropbody ul li:last-child {
  border-bottom: 0;
}
.dropdown_div {
  position: absolute;
  z-index: 99999;
  width: 100%;
  bottom: auto;
  /* top: 125px;
  right: 15px; */
  top: 110px;
  right: 0px;
  display: none;
}
.dropdown_div > ul {
  text-align: right;
  border-radius: 5px;
}
.data-table.overlay {
  position: relative;
}
.data-table.overlay:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  /* background: #64696e; */
  z-index: 999;
  height: 100%;
  top: 0;
  /* opacity: 0.8; */
  /* background-image: linear-gradient(to bottom, #64696e, #64696e); */
  /* background-blend-mode: multiply; */
}

.open_drop {
  cursor: pointer;
}
.dropbox {
  position: relative;
  width: 240px;
}
.dropbox:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 12px solid #1e5a99;
  right: 18px;
  margin: 0 auto;
  top: -11px;
}

.sub_div {
  position: relative;
}
.notif_box .media-body {
  vertical-align: middle;
  padding: 0 30px;
}

.view_txt .view-txt {
  display: block !important;
  height: 18px;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #1e5a99;
}
.view_txt .close-txt {
  display: none;
}
.current .view_txt .view-txt {
  display: none !important;
}
.current .view_txt .close-txt {
  display: block;
}
.select_Box .select-selected {
  border: 1px solid #ccc;
  font-size: 12px;
  padding: 13px 15px;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 44px;
  color: #273039;
}
.select_Box .select-selected:hover {
  cursor: pointer;
}
.select_Box .select-items {
  width: 100%;
}

.select-items div,
.select-selected.select-arrow-active {
  padding: 13px 15px;
  font-size: 12px;
}

.select-selected:after {
  content: "";
  width: 10px;
  height: 6px;
  top: 43%;
  position: absolute;
  right: 6%;
  background: url(https://officedepot.scene7.com/is/content/officedepot/Down-arrow-solid);
}
.select-arrow-active.select-selected:after {
  content: "";
  width: 10px;
  height: 6px;
  top: 43%;
  position: absolute;
  right: 6%;
  background: url(https://officedepot.scene7.com/is/content/officedepot/Up-arrow-solid);
}
.org_bg {
  background: #ffb600;
  width: 31px;
}
.org_bg img {
  width: 20px;
  margin: 0 5px;
}
.disp_block {
  display: none;
}
.btn_sv:hover {
  color: #fff;
}
.pad_span {
  display: block;
  margin: 13px 0;
}
.select_Box .custom-select {
  position: relative;
  width: 100%;
}
.select_Box .custom-select1 .select-selected.select-arrow-active,
.select_Box .custom-select .select-selected.select-arrow-active {
  margin-left: 0px;
}
.select_Box .select-items {
  left: 0;
}

.dropbox:before {
  border-bottom: 12px solid #F5F8FC;
}
  
.drophead {
  background-color: #F5F8FC;
}

.noBilling_msg-mobile {
  font-weight: 400;
  padding-left: 18px;
  font-size: 13px;
}

/*======================================media-query=================================*/
@media (max-width: 1440px) {
  .subscrip_box p {
    font-size: 14px;
    margin-top: 17px;
  }
  .subscrip_box {
    padding: 52px 19px 0;
  }
  .notif_box ul .list-inline-item:not(:last-child) {
    margin-right: 17px;
  }
  .main_txt {
    font-size: 13px;
  }
}
@media (max-width: 1380px) {
  .total_box {
    padding: 5px;
  }
  .table2 td {
    padding: 15px 14px;
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  .notif_box ul .list-inline-item:not(:last-child) {
    margin-right: -1px;
  }
  .table_service > tbody > tr > td {
    font-size: 20px;
  }
  .btn_plan {
    font-size: 16px;
    padding: 9px 15px;
  }
  .table2 thead th {
    padding: 15px 15px;
  }
  .data-table1 ul li {
    font-size: 24px;
  }
  .select-selected,
  .select-items {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .main_txt {
    font-size: 14px;
  }
  #sel4.form-control:not([size]):not([multiple]) {
    height: 23px;
  }
  #sel4 {
    width: 177px;
    background-position: 89% 64%;
  }
  .table_service > tbody > tr > td {
    font-size: 13px;
  }
  .btn_plan {
    font-size: 13px;
    padding: 7px 8px;
  }
  .total_box h3 {
    font-size: 10px;
    color: #4a4a4a;
    font-weight: 500;
    margin-bottom: 21px;
    margin-top: 0;
    text-transform: uppercase;
  }
  .total_box p {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin-bottom: 0;
  }
  .table2 td {
    padding: 15px 10px;
    font-size: 13px;
  }

  .table2 thead th {
    padding: 15px 10px;
    font-size: 12px;
  }
  .notif_box ul li {
    font-size: 14px;
  }
  .view_txt {
    font-size: 14px;
  }
  #sel4 {
    width: 177px;
    background-position: 100% 79%;
  }
  #sel1,
  #sel2 {
    padding-right: 33px;
  }
  .data-table1 ul li:nth-child(2) {
    width: 25%;
  }
  .data-table ul li {
    font-size: 13px;
  }
  .drophead {
    font-size: 12px;
  }
  .dropbody ul li {
    padding: 8px 0;
    font-size: 13px;
  }
  .custom-select .select-selected.select-arrow-active {
    margin-left: 0;
  }
  .select-items {
    left: 0;
  }
}
@media (max-width: 1100px) {
  .main_txt {
    font-size: 13px;
  }
}
@media (max-width: 1050px) {
  .table2 thead th {
    padding: 15px 8px;
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .list_sub > .list-inline-item:not(:last-child) {
    margin-right: 20px;
  }
  .subscrip_box h3 {
    font-size: 33px;
  }
  .subscrip_box h3 span {
    font-size: 33px;
  }
  .subscrip_box sup {
    font-size: 20px;
  }
  .subscrip_box img {
    width: 29px;
  }
  .list_sub li a {
    font-size: 12px;
  }
  .list_sub li a .fa {
    margin-left: 5px;
  }
  .media-body {
    padding: 0 15px;
  }
  .notif_box ul li span {
    font-size: 27px;
  }
  .media_img {
    width: 51px;
    padding: 0 6px;
  }
  .notif_box .media {
    height: 79px;
  }
  .notif_box ul .list-inline-item:not(:last-child) {
    margin-right: 0px;
  }
  .notif_box .media-body {
    vertical-align: middle;
    padding: 0 13px;
  }
  .notif_box ul li {
    font-size: 11px;
  }
  .media .view_txt {
    font-size: 12px;
    margin-left: 2px;
  }
  .main_txt {
    font-size: 11px;
  }
  .table1 td {
    font-size: 12px;
  }
  #sel1,
  #sel2 {
    font-size: 12px;
  }
  #sel4 {
    width: 164px;
  }
  .table label {
    font-size: 11px;
  }
  .table span.label {
    font-size: 11px;
  }
  .table1 td {
    font-size: 13px;
    color: #1f1e1e;
    vertical-align: middle;
    border: none;
    padding: 28px 6px;
  }
  .table_service > tbody > tr > td:last-child {
    float: right;
    width: 180px;
  }
  .table .view_txt {
    font-size: 16px;
  }
  .expand_box {
    padding: 20px;
  }
  .total_box {
    padding: 5px;
  }
  .total_box h3 {
    font-size: 10px;
  }
  .table_pay td:first-child {
    width: 25%;
  }

  .table2 thead th {
    padding: 15px 5px;
    font-size: 11px;
  }
  .subscrip_box p {
    margin-top: 9px;
  }
  .total_box h3 {
    margin-bottom: 7px;
  }
  .fix {
    display: none;
  }
  .edit_txt {
    position: absolute;
    bottom: 16px;
    font-size: 10px;
  }
  #table_pay td {
    position: relative;
    padding-bottom: 45px;
    font-size: 10px;
  }

  .visa_img {
    margin-right: 3px;
    width: 30px;
  }
  .table2 thead th {
    padding: 15px 5px;
    font-size: 11px;
  }
  .data-table .view_txt {
    font-size: 15px;
  }
  .data-table label {
    font-size: 11px;
    color: #797777;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 500;
  }
  .data-table span.label {
    font-size: 11px;
    color: #797777;
    text-transform: uppercase;
    margin-bottom: 19px;
    font-weight: 500;
  }
  .data-table label {
    font-size: 11px;
  }
  .data-table span.label {
    font-size: 11px;
  }
  .main_txt br {
    display: none;
  }
  .final_img {
    width: 78%;
    float: right;
  }
  .succ_Div {
    width: 90%;
  }
  .btn_sv,
  .show_Div li,
  .btn_cncl {
    font-size: 14px;
  }
  .custom-select {
    position: relative;
    width: 100%;
  }
  .data-table ul li:last-child {
    width: 8.5%;
  }
  .data-table1 ul li:last-child {
    width: 100%;
  }
  .data-table ul li {
    padding-right: 6px;
  }
  .org_bg img {
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  .main_txt {
    font-size: 13px;
    font-weight: 500;}
    
    .view_txt .view-txt {
      font-weight: 400;
    }
    
    .data-table .list-inline {
      height: 100px;
    }
  .d-none {
    display: none;
  }
  .d-block {
    display: block;
  }
  /*===================================*/
  .notif_head {
    font-size: 15px;
  }
  .view_txt {
    font-size: 12px;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .media_img img {
    display: none;
  }
  .media_img {
    width: 8px;
    padding: 0 4px;
  }
  .media ul {
    display: flex;
  }
  .media ul .view_txt .fa {
    margin-left: 10px;
    font-size: 25px;
  }
  #sel1,
  #sel2 {
    font-size: 12px;
    padding-left: 7px;
    padding-right: 35px;
  }
  span.main_txt br {
    display: none;
  }
  .main_txt {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.38;
    color: #273039;
  }
  .table .view_txt {
    font-size: 12px;
    margin-top: 4px;
  }
  .table1 > tbody > tr > td:last-child {
    width: 1%;
    padding: 11px;
  }

  .table_service td {
    display: block;
    width: 100% !important;
    padding: 10px 15px !important;
  }
  .table_service td:last-child {
    display: block;
    width: 100% !important;
    padding: 0px !important;
  }

  .table label {
    font-size: 11px;
    display: inline-block;
    width: 94px;
  }

  .table span.label {
    font-size: 11px;
    display: inline-block;
    width: 94px;
  }
  #sel4,
  #sel3 {
    display: inline-block;
  }
  .expand_box {
    padding: 31px 12px;
  }
  .status_box ul li,
  #sel3,
  #sel4 {
    font-size: 13px;
  }
  .status_box ul li {
    margin-bottom: 20px;
  }
  .total_box h3 {
    font-size: 10px;
    display: inline-block;
    text-align: left;
    margin-bottom: 0;
    width: 133px;
  }
  .total_box p {
    font-size: 11px;
    display: inline-block;
  }
  .total_box {
    text-align: left;
    padding: 9px 8px;
  }
  .list_price li {
    display: block;
    position: relative;
    border-bottom: 1px solid #ddd;
    /* margin: 0 22px; */
  }
  .list_price > .list-inline-item:not(:last-child) {
    margin-right: 22px;
  }
  .list_price li:after {
    display: none;
  }
  .dn_txt {
    font-size: 13px;
  }
  .btn_dnload {
    background: #3379c1;
    color: #fff;
    padding: 5px 16px;
    font-size: 14px;
  }
  .pay_txt label {
    font-size: 11px;
    display: inline-block;
    margin-bottom: 0;
  }

  .pay_txt span.label {
    font-size: 11px;
    display: inline-block;
    width: 59%;
    margin-bottom: 0;
  }
  .method_Box h3 {
    font-size: 15px;
    color: #4a4a4a;
    font-weight: 600;
    background: #f2f3f5;
    padding: 10px 18px;
    margin: 0px -12px 18px;
  }
  #invoice_table td,
  #invoice_table tr {
    white-space: nowrap;
    font-size: 12px;
    background: #fff;
  }
  .zui-table {
    border: none;
    border-right: solid 1px #ddefef;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    margin: 0;
    vertical-align: top;
  }
  .pos_rel {
    position: relative;
    height: 207px;
    vertical-align: top;
  }
  .zui-table thead th {
    border: none;
    padding: 10px !important;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
    height: 31px;
  }
  .zui-table tbody td {
    border-bottom: solid 1px #ddefef !important;
    color: #333;
    padding: 10px !important;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap !important;
    height: 35px;
  }
  .zui-wrapper {
    position: relative;
  }
  .zui-scroller {
    overflow-x: scroll;
    overflow-y: visible;
    width: 67%;
    display: inline-block;
    vertical-align: top;
  }
  .zui-table .zui-sticky-col {
    border-left: solid 1px #ddefef;
    border-right: solid 1px #ddefef;
    right: 0;
    position: absolute;
    top: auto;
    width: 30%;
    box-shadow: -3px 0px 9px -2px #ccc;
    z-index: 99999;
  }
  .d-mob {
    display: none;
  }
  .list_price {
    display: none;
    margin: 0;
  }
  .list_price.show {
    display: block;
    margin-left: 0;
  }
  .dnload_div {
    display: none;
  }
  .dnload_div.show {
    display: block;
  }
  .bill_Div {
    display: none;
  }
  .bill_Div.show {
    display: block;
  }
  .up_img {
    display: none;
  }
  .down_img1.rotate {
    transform: rotateX(180deg);
  }
  .down_img1 {
    display: inline-block;
  }

  .down_img1 {
    float: right;
  }
  .list_sub {
    display: inline-block;
    width: 100%;
    margin-top: -42px;
    overflow: auto;
    white-space: nowrap;
  }
  .list_sub li {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }
  .subscrip_box {
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1),
      0 1px 14px 0 rgba(0, 0, 0, 0.17);
    border-radius: 12px;
    margin: 6px;
  }
  .subscrip_box img {
    width: 43px;
  }
  .heading_sec {
    margin-bottom: 60px;
  }
  .opt_div {
    display: none;
  }

  .table-wrap {
    width: 100%;
    overflow: auto;
  }
  .table-scroll table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
  }
  .table-scroll th,
  .table-scroll td {
    padding: 5px 10px;
    border: 1px solid #000;
    background: #fff;
    white-space: nowrap;
    vertical-align: top;
  }
  .table-scroll thead,
  .table-scroll tfoot {
    background: #f9f9f9;
  }
  .clone {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  .clone th,
  .clone td {
    visibility: hidden;
  }
  .clone td,
  .clone th {
    border-color: transparent;
  }
  .clone tbody th {
    visibility: visible;
    color: red;
  }
  .clone .fixed-side {
    border: 1px solid #000;
    background: #eee;
    visibility: visible;
  }
  .clone thead,
  .clone tfoot {
    background: transparent;
  }

  .fix {
    position: relative;
    z-index: 999;
    box-shadow: -3px 0px 3px -2px #ccc;
    margin-bottom: 0;
    width: 31%;
    height: 226px;
    background: #fff;
    display: inline-block;
  }
  .fix h3 {
    color: #5e5c5c;
    font-weight: 600;
    font-size: 11px;
    padding: 10px;
    margin: 0;
    background: #f2f3f5;
    height: 32px;
  }
  .fix ul li {
    color: #333;
    padding: 10px;
    font-size: 12px;
    border-bottom: solid 1px #ddefef;
    text-align: center;
    height: 35px;
  }
  .fix ul li:nth-child(2) {
    color: #ad2f2f;
  }
  .fix ul {
    margin-bottom: 0;
  }
  .rel_col {
    position: relative;
  }

  .mob {
    display: none;
  }
  .final_img {
    width: 100%;
  }

  a.edit_txt {
    position: relative;
    bottom: 16px;
    font-size: 13px;
    color: #1e5a99;
  }
  .test_txt {
    color: #5e5c5c;
    font-weight: 500;
    font-size: 13px;
  }
  .notif_box .media {
    height: 73px;
  }
  .notif_box ul li {
    font-size: 11px;
    margin-top: 7px;
  }
  .detail_sec {
    padding: 20px 0;
  }
  .space40 {
    margin-top: 21px;
  }
  .d-mob {
    display: none !important;
  }
  .data-table ul li {
    padding: 14px 0;
  }
  .data-table .view_txt {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 0;
  }
  .dropdown_div {
    top: 83px;
    right: 0;
  }
  .dropdown_div > ul > li {
    width: 100%;
    vertical-align: top;
    margin-bottom: 0px;
  }
  .space50 {
    margin-top: 25px;
  }
  .drophead {
    font-size: 14px;
  }
  .dropbody ul li {
    font-size: 13px;
  }
  .data-table1 ul li {
    display: block;
    width: 100% !important;
    padding-left: 20px;
  }
  .data-table1 ul li:first-child {
    width: 100%;
  }
  .data-table1 ul li {
    font-size: 18px;
  }
  .view_txt1 {
    font-size: 14px;
  }
  .custom-select select {
    display: none !important;
  }
  .show_Div ul {
    text-align: left;
  }
  .show_Div li {
    margin-bottom: 19px;
  }
  .status_box {
    position: relative;
  }
  .status_box.overlay:after {
    content: "";
    position: absolute;
    left: -12px;
    right: 0;
    width: 108.2%;
    background: #0000007d;
    z-index: 999;
    height: 168px;
    top: -20px;
  }
  .data-table ul li:last-child {
    padding: 0;
  }
  .select-items div,
  .select-selected.select-arrow-active {
    padding: 8px 10px;
    font-size: 12px;
  }
  .org_bg {
    display: none;
  }
  .data-table ul li:first-child {
    width: 100px;
  }
  .data-table ul li:nth-child(2) {
    width: 153px;
    padding-right: 0;
  }
  .data-table ul li:last-child {
    width: 80px;
  }
  .org_bg {
    width: 20px;
  }
  .custom-select1 .select-selected.select-arrow-active,
  .custom-select .select-selected.select-arrow-active {
    margin-left: 0;
  }
  .select-items {
    left: 0;
  }
  .data-table ul li {
    padding: 0
  }
  .sub__discount-container {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 414px) {
  .status_box.overlay:after {
    width: 107.6%;
  }
}
@media (max-width: 360px) {
  .total_box {
    padding: 9px 4px;
  }
}
@media (max-width: 320px) {
  .notif_head {
    font-size: 13px;
  }
  .view_txt {
    font-size: 11px;
    margin-left: 8px;
  }
  .test_txt {
    font-size: 12px;
  }
  .total_box p {
    font-size: 9px;
  }
  .total_box h3 {
    font-size: 9px;
  }
  .list_price li {
    margin: 0 14px;
  }
  .list_price > .list-inline-item:not(:last-child) {
    margin-right: 15px;
  }
  .status_box ul li,
  #sel3,
  #sel4 {
    font-size: 11px;
  }

  .table2 thead th {
    padding: 15px 5px;
    font-size: 9px;
  }
  .fix h3 {
    font-size: 10px;
    padding: 14px 5px;
  }
  .status_box.overlay:after {
    width: 110%;
  }
}

/* override css */
.custom-select {
  outline: none;
}

.data-table.overlay,
.subscription__extended-menu li,
.drophead,
.cursor__pointer {
  cursor: pointer;
}

.subscription__extended-menu li a {
  height: 100%;
  width: 100%;
  display: inline-block;
}

/* Loader styles */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #3379c2;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.services__img {
  width: 70% !important;
  height: 60px;
}

.margin__left-25 {
  margin-left: 25px;
}

.margin__left-10 {
  margin-left: 10px;
}

.dnload__txt {
  color: #fff;
}

/* modal */
#spinner__portal-subscriptions {
  width: 100%;
  position: absolute;
  top: 50%;
}

#spinner__portal-subscriptions.filtering__spinner {
  top: 10%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: 0.5;
}

/* WWW styles override */

h1,
body .h1,
h2,
body .h2,
h3,
body .h3 {
  margin-top: inherit;
  margin-bottom: inherit;
}

#myOfficeToolbar .quick_link_module a {
  display: table;
}

#myOfficeToolbar .user_info {
  float: right;
}

#myOfficeToolbar .rewards_info {
  font-size: 14px;
  display: inline-block !important;
  line-height: 1.2;
  width: 232px;
  padding: 5px 12px;
  margin: 0 -12px;
}

#headerInnerWrap.headerV5 #mainSearchField {
  height: 43px;
}

body a:hover,
body a:focus {
  text-decoration: none;
}

#headerIcons.hContext_v5 .caret {
  border-top: none;
  border-right: none;
  border-left: none;
  margin-left: 0;
}

#modalStoreInput {
  height: 30px;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: inherit;
  margin-bottom: inherit;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: inherit;
}

.list_price li:after {
  content: "";
  position: absolute;
  height: 37px;
  width: 1px;
  background-color: #e3e7e9;
  right: 0;
  top: 25%;
}

#myOfficeToolbar .assistance_module .assistance_icons {
  border-left: 1px solid #fff;
  display: inline-block;
  float: left;
  height: 30px;
  padding: 0 21px;
  vertical-align: middle;
  width: 18px;
}

#myOfficeBtn.nav_bar {
  background-color: #54595e;
  border: 1px solid #54595e;
  border-radius: 0;
  color: #fff;
  display: none;
  font-size: 13px;
  font-weight: 700;
  height: auto;
  line-height: 25px;
  padding: 4px 8px;
  width: 256px;
  text-align: center;
  margin-left: 10px;
}

div.Toastify__toast.Toastify__toast--success {
  background: #273039;
  color: #fff;
  font-weight: 600;
  padding-left: 10px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 1.54;
}


a.open_drop.disable,
.disable.cursor__pointer {
  cursor: auto;
}

div.drophead {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1), 0 1px 14px 0 rgba(0, 0, 0, 0.17);
}

div.dropbody ul.subscription__extended-menu {
  font-size: 14px;
  text-align: center;
  color: #1e5a99;
}

div.data-table label.pad_span {
  font-size: 13px;
  color: #273039;
}

div.data-table label.item__label {
  font-size: 11px;
  font-weight: 600;
  color: #b3bdc1;
}

label.item__label.pad_span.margin__left-25 {
  font-size: 14px;
  color: #273039;
  font-weight: 500;
}
div.total_box h3 {
  font-size: 10px;
  color: #4e555d;
  font-weight: 600;
  margin-bottom: 23px;
  margin-top: 0;
  text-transform: uppercase;
}

.table.table2.table-striped tr th.payment__header {
  font-size: 11px;
  font-weight: 600;
  color: #4e555d;
  text-transform: uppercase;
}

.overlay {
  background-color: inherit;
}

ul.sub__details--section-sub,
hr.download__end {
  margin-bottom: 60px;
}

div.dnload_div.show {
  margin-bottom: 30px;
}

span.subscribing__txt {
  font-weight: 600;
  text-align: center;
  color: #b30000;
}

div.unexpected__error {
  text-align: center;
  color: #b30000;
}

.animated__arrow {
  width: 12px;
  height: 7px;
  display: inline-block;
  position: relative;
  margin: 0.5px 5px;
  background: url(https://officedepot.scene7.com/is/content/officedepot/Down-arrow-linear)
}

.animated__arrow.active {
  background: url(https://officedepot.scene7.com/is/content/officedepot/Up-arrow-linear)
}

a.email__address,
span.email__address {
  text-transform: lowercase;
}

a.edit_txt.email__address {
  text-transform: inherit;
}

label.pad_span.mgb0 {
  margin-bottom: 0;
}

div.select-selected.select-arrow-active {
  border: solid 1px #cccccc;
  background-color: #ffffff;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.default_cursor {
  cursor: default;
}

.no__subs {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

#service-Subscription-Pay {
  margin: auto;
  width: 75%;
}

tr.billing__failure > td {
  color: #b30000;
}

/* filter-mobile */
.filters__container {
  display: flex !important;
  justify-content: center;
}

.filters__container > .filter__mob > .filter_options {
  padding-right: 0;
}

.filter__mob, .sort__mob {
  flex:1;
}

.filter__mob .select-selected:after {
  right: 4%;
}

.sort__mob .select-selected:after {
  right: 4%;
}

.filter__mob > .filter__label, .sort__mob > .sort__label {
  font-size: 13px;
  font-weight: 600;
  color: #273039;
  margin-bottom: 5px;
}

.sort__mob > .sort__options {
  padding-left: 7.5px;
}

.filter__mob .filter__options {
  padding-right: 7.5px;
}

.status__item-mob, .quantity__item-mob {
  display: block;
}

.status__item-mob > .status{
  margin: 0 40px 0 25px;
}

.status__item-mob > .status.item{
  margin: 0 18px 0 25px;
}

.quantity__item-mob > .quantity {
  margin: 0 35px 0 25px;
}

.freq__item-mob {
  display: flex;
}

.freq__item-mob > .frequency {
  margin: 0 22px 0 25px;
  display: inline-block;
  line-height: 44px;
}

.freq__item-mob > .mob__freq {
  display: inline-block;
  width: 60%;
}

input.item__qty-mob#item--qty {
  width: 50px;
  height: 44px;
  border-radius: 4px !important;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #4e555d;
  padding: 0;
  display: inline-block;
}

hr {
  border: 0;
  border-top: 2px solid #e3e7e9;
}

.frequency.mobile, .status.mobile, .quantity.mobile {
  font-size: 10px;
  font-weight: 600;
  line-height: 4;
  color: #b3bdc1;
}

.details__mobile {
  margin-bottom: 40px;
}

.status__date-mobile {
  color: #4e555d;
}

.save__update-mob {
  padding: 30px 20px;
  background: #f1f3f4;
}

.save__update-mob > div {
  text-align: center
}

.save__update-mob > .title{
  font-size: 13px;
  text-align: center;
  color: #4e555d;
  margin-bottom: 15px;
}

li.payment__card-mobile {
  font-size: 13px;;
}

.save__update-mob > div > button {
  border-radius: 4px;
    background-color: #1e5a99;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    width: 138px;
    height: 40px;
    margin-bottom: 15px;
}
.save__update-mob > div > a {
  font-size: 13px;
  font-weight: 600;
  color: #1e5a99;
}

.sub__details--container-mob {
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.section__title-mob {
  margin-right: 33%;
  margin-left: 15px;
  display: inline-block;
  width: 173px;
}

.sub__discount {
  width: 100%;
}

.nxt__billing-mob {
  font-size: 12px;
  font-weight: 600;
  color: #b3bdc1;
  margin-left: 15px;
}
.nxt__billing-date {
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #273039;
}

.btn.primary:hover {
  color: #fff;
}
a.btn {
  line-height: 2.5;
  border: none;
}
#myOfficeToolbar .toolbar_cart_count {
  padding: 2px 7px;
}

li.update__save--cancel-conf + div.custom-select{
  display: inline-block;
  width: 25%;
  background: #fff;
  border-radius: 4px;
}

li.update__save--cancel-conf + div.custom-select > div.select-selected {
  text-align: left;
  padding-left: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 0;
  font-size: 13px;
}

li.update__save--cancel-conf + div.custom-select > div.select-items {
  left: 0;
}

li.update__save--cancel-conf + div.custom-select > div.select-selected.select-arrow-active:after {
  right: 6%;
}

li.update__save--cancel-conf + div.custom-select > div.select-selected.select-arrow-active {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

li.update__save--cancel-conf + div.custom-select > .select-items {
  text-align: left;
}

.btn_sv.disable {
  background: #f1f3f4;
  color: #273039;
  cursor: default;
}

.show_Div.add__margin {
  margin-top: 0;
  margin-bottom: 24px;
}

.show_Div.show.cancellation {
  margin-top: -24px;
}

input.email__edit {
  height: 35px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  padding: 0 10px;
  width: 90%;
}

input.rewards__edit {
  height: 35px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  padding: 0 10px;
  width: 80%;
}

input.email__edit.invalid {
  border: 2px solid #ad2f2f;
}

input:focus {
  outline: none;
}

div.partial__subs {
  text-align: center;
  color: #ad2f2f;
}


div.loadmore__container {
  position: relative;
  margin-top: 30px;
}

div.loadmore__container > button{
  position: relative;
  width: 22%;
  left: 40%;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #1e5a99;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  height: 40px;
}

div.loadmore__container > a{
  position: absolute;
  right: 2%;
}

.show_Div ul.email__rewards {
  margin-right: 30px;
}

div.filter__sort-heading, div.filter__sort-heading:hover {
  color: #273039;
  background: #f3f2f1;
  font-weight: 600;
  font-size: 14px;
}

div.save__filter-sort {
  display: flex;
  justify-content: center;
}

div.save__filter-sort > button {
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #1e5a99;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    height: 40px;
    width: 60%;
}

div.save__filter-sort:hover {
  background-color: inherit;
}

.checked__filter  {
  font-weight: 600;
}

input.filter__sort-checkbox {
  -webkit-appearance: none;
	border: 1px solid #cacece;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
}

input.filter__sort-checkbox:focus {
	outline: none;
}

input.filter__sort-checkbox:checked {
	border: 1px solid #adb8c0;
}

input.filter__sort-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #1e5a99;
}

div.filter__sort-option  {
  display: flex;
  align-items: center;
}
div.filter__sort-option:focus  {
  outline: none;
}

div.filter__sort-option.disable {
  cursor: default;
}

input.disabled {
  background: #f2f3f4;
}
.status.mobile.sub__id {
  margin-right: 3px;
}

div#monetate_htmlCountdown_d034a4a3, div.mt_countdown {
  width: 100%;
}

input.filter__sort-checkbox[type="checkbox"] {
  padding: 9px;
  margin-top: 0;
  margin-right: 10px;
}

div.alert__box {
  height: 45px;
  margin-bottom: 25px;
  border: 2px solid #f2f3f5;
  display: flex;
  align-items: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

div.alert__box > span.err__msg {
  font-size: 13px;
  line-height: 1.77;
  color: #000000;
  margin-right: 10px;
}

div.alert__box > span.err__msg > span {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.77;
  color: #000000;
}

div.alert__img {
  display: inline-block;
  background: #ffb600;
  height: 100%;
  width: 45px;
  margin-right: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  justify-content: center;
}

.filters__mob {
  margin-right: -5px;
}

.sub__details--section-sub {
  margin-left:0
}

.sub__details--section-sub > li.list-inline-item {
  width: 14.2%;
}

.main_txt.desc {
  min-height: 80px;
}


/* 
  ##Device = Laptops, Desktops, projectors
  ##Screen > 1025
*/

@media (min-width: 813px) and (max-width: 3000px) {

  .dnload_div.show {
    margin-left: 15px;
  }

  .img-responsive {
    height: auto;
  }
  ul.sub__details--section-item {
    display: flex;
    justify-content: space-evenly;
    margin-left: 0;
  }
  ul.sub__details--section-sub {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    margin-left: 0;
  }
  ul.sub__details--section-item.list-inline > li {
    width: 25%;
  }

  ul.sub__details--section-item.list-inline > li,
  ul.sub__details--section-sub.list-inline > li {
    padding-left: 0;
  }

  div.data-table {
    margin: 25px 0;
  }

  div.data-table.open__conf {
    margin: 13px 0;
  }

  label.item__label {
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    color: #273039;
  }
  .main_txt.desc {
    display: inline-block;
    max-width: 85%;
  }

  li.update__save--cancel-conf {
    font-size: 13px;
    line-height: 1.53;
    color: #64696e;
    margin-left: 15px;
  }

  .item__quantity {
    width: 50px;
    height: 44px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;
    margin-top: 2px;
  }

  .item__quantity-label {
    margin-bottom: 30px !important;
  }
  .select-selected,
  .select-items {
    width: 100%;
    font-size: 14px;
    color: #273039;
  }

  div.data-table ul li:nth-child(4) {
    width: 14%;
  }

  div.freq__options.custom-select {
    width: 90%;
  }

  div.filter__label {
    padding-right: 0;
    display: flex;
    align-items: center;
    height: 44px;
    justify-content: flex-end;
  }
  div.sort__label {
    padding: 0;
    display: flex;
    align-items: center;
    height: 44px;
    justify-content: flex-end;
  }
  div.filter__label,
  div.sort__label {
    font-size: 13px;
    font-weight: 600;
    color: #273039;
  }

  .list-inline > li.select_Box.no__Dropdown {
    padding-top: 22px;
  }
  
  div#headerInnerWrap.headerV5.nav_with_tb #headerSearchBlock {
    margin-left: 30px;
  }

  div#content {
    padding: 0;
  }
}

/* ipad */
@media (min-width: 760px) and (max-width: 1024px) {
  div.loadmore__container > button {
    width: 35%;
    left: 35%;
  }
  div.data-table {
    margin: 15px 0;
  }
}

/* phone*/
@media (min-width: 320px) and (max-width: 760px) {
  .sub_head {
    font-size: 24px;
    color: #111;
    font-weight: 700 !important;
  }
  span.main_txt.desc {
    word-break: break-all;
  }
  div.main_txt.desc {
    min-height: 30px;
  }
  div.data-table {
    margin: 15px 0;
  }
  .dropdown_div {
    position: absolute;
    z-index: 99999;
    width: 60%;
    bottom: auto;
    top: 70px;
    right: -7px;
    display: none;
  }
  .select_Box .select-selected {
    padding: 14px 8px;
  }
  .dropbox {
    width: 100%;
  }
 
  .head_txt.sub_txt {
    margin-top: 0;
  }

  .img-responsive {
    width: inherit;
  }

  div#spinner__portal-subscriptions {
    width: auto;
    position: absolute;
    top: 50%;
    left: 42%;
  }

  img.img-responsive {
    width: auto;
  }

  div.total_box p {
    text-align: left;
  }

  .total_box h3 {
    width: 138px;
  }

  .list_price li {
    border-bottom: 1px solid #e3e7e9
  }

  .sub__discount {
    width: 100px;
  }

  .sub__details--container-mob.full__width-mob {
    margin-bottom: 0;
  }

  p.dn_txt, a.dnload__txt {
    margin-left: 15px;
  }

  hr.download__end {
    margin-bottom: 0;
  }

  ul.sub__details--section-item > li.list-inline-item {
    min-width: 80%;
  }

  div.table-responsive.zui-scroller {
    margin-left: 5px;
    width: 69%
  }

  div.fix.d-mob1 {
    width: 29%;
  }

  .save__update-mob > div > button {
    width: 200px;
  }

  .cancel__sub > .custom-select > .select-selected {
    background: #fff;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
  }

  .save__update-mob > div > button.disable__btn {
    background: #e3e3e3;
    border: solid 1px #e3e3e3;
  }

  div.loadmore__container > button {
    width: 50%;
    left: 25%;
  }
  div.alert__box > span.err__msg {
    margin-right: 0;
    line-height: inherit;
  }
  div.alert__box {
    height: 60px;
  }

  div.alert__img > img {
    margin: 0 8px; 
  }

  .full__width-mob {
    margin: 0px -12px 18px;
  }

  .sub__details--section-sub > li.list-inline-item {
    width: 100%;
  }

}

#footerWrapper .v5Footer .media_footer, #footerWrapper .v5Footer .media_footer.sm_pad {
    height: 85px;
}

.w20 h3 {
  font-style: 14px;
}

h3.sub_head {
  font-weight: 400;
}

.my_store.separator.clearfix {
  height: 30px;
}